html {
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

body {
  color: rgb(27, 47, 68);
  background: linear-gradient(90deg,  rgb(245, 246, 247),  rgb(189, 211, 219), rgb(245, 246, 247));
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; 
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  background: linear-gradient(90deg,  rgb(245, 246, 247),  rgb(189, 211, 219), rgb(245, 246, 247));
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
#navbar a {
  color: rgb(37, 50, 56);
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  margin: 6rem auto;
}

.section, .options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: space-evenly;
  width: 75%;
}
.prj-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 800px) {
  .options {
    width: 100;
    flex-direction: column !important;
    align-items: center;
  }

  .info-div {
    width: 100% !important;
  }

  .img-div {
    width: 60% !important;
  }

  .image {
    width: 100%;
  }
}
h1 {
 width: 100%;
 padding: 10px 0;
 margin: 1em auto;
 text-align: center;
 color: rgb(60, 81, 90);
}
h3 {
  font-size: 1.6rem;
}

.info-div {
  margin: 1%;
  padding: 1%;
  font-size: 1.5rem;
  text-align: justify;
}
.no1 {  width: 65%;  }
.no2 {  width: 100%;  }

.img-div {
 display: flex;
 flex-direction: column;
 width: 25%;
 margin: 1%;
 padding: 1%;
 z-index: -1;
 align-items: center;
}
.image {
  width: 100%;
  max-width: 100%;
  justify-content: center; 
  border: 2px solid rgba(2, 6, 8, 0.5);
  opacity: 0.7;
}
.img-caption {
  margin: 0.5rem auto;
  font-size: 1rem;
}
.imagii-info {
  width: 70%;
}

.divi {
  height: 0.1px;
  width: 80%;
  background-color: rgba(60, 81, 90, 0.151);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.inner {
  width: 40%;
  height: 10rem;
  border: solid 1px rgba(70, 208, 250, 0.253);
  background-color: rgba(70, 208, 250, 0.034);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  margin: 2%;
  padding: 1% 5%;
  text-align: center;
  min-width: 20rem;
  color: rgb(33, 44, 49);
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  font-size: 1rem;
}
.inner:hover {
  background-color: rgba(70, 208, 250, 0.192);  
}
.inner:active {
  background-color: rgba(19, 62, 75, 0.192);  
}
.title {
  font-size: 1.5rem;
}
.invisible {
  display: none;
}
.open {
  color: rgb(60, 81, 90);
  background: linear-gradient(60deg, rgba(226, 181, 202, 0.4), rgba(189, 187, 204, 0.37), rgba(211, 193, 178, 0.4));
}

#btn-signal {color: rgb(196, 15, 15);}
#btn-control {color: rgb(201, 135, 12);}
#btn-math {color: rgb(163, 18, 168);}
#btn-circuits {color: rgb(12, 16, 243);}
#btn-electro {color: rgb(233, 24, 129);}
#ieee-sbu {color: rgb(27, 170, 27);}

a {
  color: rgb(87, 89, 104);
}
.certificates {
  color: rgb(238, 15, 119);
}
.skills {
  color: rgb(231, 112, 15);
}
.two-parted {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
  justify-content: center; 
  width: 100%;
}
.part {
  flex: 0 1 48%;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.approach-img-div, .approach-imagii-info {
  width:90%;
  margin: 1%;
}
.prj-section {
  width: 80%;
  padding: 1% 3%;
  border: 1px solid rgb(60, 81, 90);
}
.prj-links {
  font-size: 1.3rem;
  font-style: italic;
}
.other-section {
  font-size: 1.5rem;
  text-align: justify;
}


/*background gear*/

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gear {
  position: fixed;
  top: 110px;
  left: 45px;
  width: 30px;
  height: 30px;
  border: 20px rgb(189, 211, 219) solid;
  border-radius: 50%;
  z-index: -1;
  animation: spin 50s linear infinite;
}

.tooth {
  position: absolute;
  width: 18px;
  height: 18px;
  background: linear-gradient(180deg,  #bed4dc 5%,  #bed4dc 30%);
  top: -35px;
  left: 6px;
  border-top: solid 2px #70707031;
  transform-origin: 10px 50px;
  z-index: -2;
}
.tooth:nth-child(2)  { transform: rotate(45deg);}
.tooth:nth-child(3)  { transform: rotate(90deg);}
.tooth:nth-child(4)  { transform: rotate(135deg);}
.tooth:nth-child(5)  { transform: rotate(180deg);}
.tooth:nth-child(6)  { transform: rotate(225deg);}
.tooth:nth-child(7)  { transform: rotate(270deg);}
.tooth:nth-child(8)  { transform: rotate(315deg);}

.leaf {
  position: fixed;
  left: 20px;
  width: 30px;
  height: 30px;
  background-color: #bed4dc;
  border-bottom: solid 2px #7070705d;
  z-index: -1;
}

.leaf:nth-of-type(1) { top: 280px; left: 42px; border-radius: 0 90% 0 90%; 
                      transform-origin: 20px 20px;
                      transform: rotate(-20deg);
                      width: 22px;  height: 22px;}
.leaf:nth-of-type(2) { top: 180px; border-radius: 0 90% 0 90%; }
.leaf:nth-of-type(3) { top: 220px; left: 60px; border-radius: 90% 0 90% 0; }
.leaf:nth-of-type(4) { top: 250px; left: 15px; border-radius: 0 90% 0 90%; 
                       transform-origin: 30px 30px;
                       transform: rotate(10deg);}

.cir {
  position: fixed;
  background-color: #bed4dc;
  border-radius: 60%;
}
.cir:nth-of-type(1) {width: 10px; height: 10px; left: 30px;  top: 220px;}
.cir:nth-of-type(2) {width: 15px; height: 15px;left: 60px;  top: 260px;}
.cir:nth-of-type(3) {width: 10px; height: 10px; left: 65px;  top: 280px;}
.line { position: fixed;
        left: 40px;  top: 218px; 
        width: 90px;  height: 90px; 
        border-radius: 0 90% 0 90%; 
        border-left: solid 2px #bed4dc;
        transform-origin: 40px 40px;
        transform: rotate(30deg);}
